<header class="bar bar-nav">
  <a class="btn btn-link btn-nav pull-left" href="#">
      <span class="icon icon-left-nav"></span>
  </a>
  <h1 class="title">Employee</h1>
</header>
<div class="content">
  <div class="card">
      <ul class="table-view">
          <li class="table-view-cell media">
          <img class="media-object pull-left emp-pic" src="assets/pics/<%=employee.pic%>">
              <div class="media-body">
                  <%= employee.firstName +" "+ employee.lastName %>
                  <p><%= employee.title %></p>
              </div>
          </li>
          <li class="table-view-cell media">
              <a href="tel:<%= employee.officePhone %>" class="push-right">
                  <span class="media-object pull-left icon icon-call"></span>
                  <div class="media-body">
                      Call Office
                      <p><%= employee.officePhone %></p>
                  </div>
              </a>
          </li>
          <li class="table-view-cell media">
              <a href="tel:<%= employee.cellPhone %>" class="push-right">
                  <span class="media-object pull-left icon icon-call"></span>
                  <div class="media-body">
                      Call Cell
                      <p><%= employee.cellPhone %></p>
                  </div>
              </a>
          </li>
          <li class="table-view-cell media">
              <a href="sms:<%= employee.cellPhone %>" class="push-right">
                  <span class="media-object pull-left icon icon-sms"></span>
                  <div class="media-body">
                      SMS
                      <p><%= employee.cellPhone %></p>
                  </div>
              </a>
          </li>
          <li class="table-view-cell media">
              <a href="mailto:<%= employee.email %>" class="push-right">
                  <span class="media-object pull-left icon icon-mail"></span>
                  <div class="media-body">
                      Email
                      <p><%= employee.email %></p>
                  </div>
              </a>
          </li>

      </ul>
  </div>
</div>
